#head_1{
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    border-style: dotted;
    padding-left: 100px;
    padding-right: 100px;
}
#head_1 h1{
    color: green;
    text-decoration: underline;
}
#Hello p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
#head_2{
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
aside{
    float: right;
    color: darkgray;
    padding-top: 60px;
}
aside h3{
    text-align: center;
}
.Technology p{
    font-size: 30px;
}
.Technology li{
    font-size: 20px;
}
div .Technology{
    line-height: 150%;
}