body{
    background-color: darkgray;
}
div{
    background-image: url(Images/daark.jpg);
    font-family: fantasy𝕳𝖊𝖑𝖑𝖔 𝖙𝖊𝖝𝖙 𝖘𝖙𝖗𝖎𝖓𝖌 𝖒𝖞 𝖔𝖑𝖉 𝖋𝖗𝖎𝖊𝖓𝖉;
    text-align: center;
    margin: 0px;
}
img{
    border-radius: 400px;
}
#brief{
    font-size: 20px;
}