body{
    background-color: darkgray;
}
div{
    background-image: url(Images/daark.jpg);
    font-family: fantasyğ•³ğ–Šğ–‘ğ–‘ğ–” ğ–™ğ–Šğ–ğ–™ ğ–˜ğ–™ğ–—ğ–ğ–“ğ–Œ ğ–’ğ– ğ–”ğ–‘ğ–‰ ğ–‹ğ–—ğ–ğ–Šğ–“ğ–‰;
    text-align: center;
    margin: 0px;
}
img{
    border-radius: 400px;
}
#brief{
    font-size: 20px;
}